@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}
.card {
  width: 350px;
  height: 470px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 2px 5px 20px rgba(78, 78, 78, 0.702);
  transition: all ease 0.3s;
}

.card:hover {
  scale: 1.02;
}

.user-details {
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  padding-bottom: 0;
}

.banner-container {
  width: 100%;
  height: 230px;
  position: relative;
}

.banner-container img.banner {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 33px;
}

.banner-container img.profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  bottom: 5%;
  left: 7%;
  border: 4px solid white;
}

.banner-container .exp {
  width: 60%;
  position: absolute;
  bottom: 7%;
  right: 7%;
  display: flex;
  align-items: center;
  gap: 5px;
  color: gray;
}

.banner-container .exp .exp-grid {
  display: grid;
  grid-template-columns: repeat(35, 3px);
  gap: 2px;
  height: 13px;
}

.banner-container .exp .exp-grid .strip {
  border-radius: 50px;
}

.banner-container .follow {
  position: absolute;
  top: 4%;
  right: 4%;
  background-color: rgb(245, 245, 245);
  padding: 10px 15px;
  border-radius: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  line-height: 1;
  box-shadow: inset 0 2px 2px whitesmoke, inset 0 -2px 2px rgba(0, 0, 0, 0.306), 0 2px 3px rgba(0, 0, 0, 0.156);
  cursor: pointer;
  user-select: none;
}

.banner-container .follow:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.306), inset 0 -2px 2px whitesmoke, 0 2px 3px rgba(0, 0, 0, 0.156);
}

.banner-container .follow i {
  position: relative;
  top: 1px;
}

.user-details .user-about {
  padding: 0 30px 20px 30px;
}

.user-details .user-about h1 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.user-details .user-about p {
  color: rgb(71, 71, 71);
  font-size: 16px;
}

.social-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  border-top: 1px solid rgba(128, 128, 128, 0.437);
}

.stats {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.437);
}

.stats h3 {
  font-size: 1rem;
  font-weight: 600;
}

.stats p {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(151, 151, 151);
}

.stats:nth-child(3) {
  border-right: 0px solid rgba(128, 128, 128, 0.437);
}

.link-icon {
  background-color: rgb(239, 239, 239);
  width: 100%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(128, 128, 128, 0.437);
  font-size: 1.2rem;
}

.link-icon i {
  cursor: pointer;
}

.link-icon:last-child {
  border-right: 0;
}
